@import '~react-quill/dist/quill.snow.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #191919;
  background-color: #fafafa;

  background-image: url("https://i.pinimg.com/originals/18/2a/f4/182af46d3d6be2802bdce0cf75a8c0f4.jpg");
  background-repeat: repeat;
  background-position: center center;
  background-size: 50%;
}

h1,h2,h3 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: dodgerblue;
}
a:hover, a:focus {
  color: blue;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 768px;
  margin: 20px auto;
  background-color: #fafafa;
}

.ql-toolbar.ql-snow .ql-formats {
  margin-right: 14px;
}

.material-icons {
  vertical-align: middle;
}
